# ---- Archivos de Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Archivos de LaTeX ----
*.aux
*.log
*.out
*.toc
*.synctex.gz

# ---- Archivos temporales del sistema ----
*.swp
*.tmp
Thumbs.db
.DS_Store
